#_preseed_V1

# WARNING: this preseed erases the first detected disk.
d-i preseed/include string base.cfg

### Kali

d-i netcfg/get_hostname string kali

d-i mirror/country string manual
d-i mirror/suite string kali-rolling
d-i mirror/codename string kali-rolling
d-i mirror/http/hostname string http.kali.org
d-i mirror/http/directory string /kali
d-i mirror/http/proxy string
d-i mirror/https/countries string enter information manually
d-i mirror/https/hostname string http.kali.org
d-i mirror/https/directory string /kali

d-i apt-setup/services-select multiselect
d-i apt-setup/contrib boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/non-free-firmware boolean true
d-i apt-setup/enable-source-repositories boolean false
d-i pkgsel/upgrade select full-upgrade
d-i pkgsel/update-policy select none

tasksel tasksel/first multiselect standard,core,desktop-xfce,meta-default

### Partitioning

d-i partman/early_command string debconf-set partman-auto/disk "$(list-devices disk | head -n1)"
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic

d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Boot loader

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string default

### Package questions

popularity-contest popularity-contest/participate boolean false

encfs encfs/security-information boolean true
encfs encfs/security-information seen true

console-setup console-setup/charmap47 select UTF-8
samba-common samba-common/dhcp boolean false

tripwire tripwire/installed boolean true
tripwire tripwire/installed seen true
tripwire tripwire/rebuild-config boolean false
tripwire tripwire/rebuild-policy boolean false
tripwire tripwire/use-localkey boolean false
tripwire tripwire/use-sitekey boolean false

atftpd atftpd/use_inetd boolean false
wireshark-common wireshark-common/install-setuid boolean true
macchanger macchanger/automatically_run boolean false
kismet-capture-common kismet-capture-common/install-users string
kismet-capture-common kismet-capture-common/install-setuid boolean true
sslh sslh/inetd_or_standalone select standalone
docker.io docker.io/purge-data boolean false
